@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --font-Josefin: "Josefin Sans", sans-serif;
}

body {
  @apply bg-gray-100;
  font-family: "Roboto", sans-serif;
}

.remove-underline {
  @apply no-underline visited:no-underline hover:no-underline focus:no-underline;
}

.remove-focus:focus {
  outline: none !important;
}

.remove-focus:focus-visible {
  outline: none !important;
}

.remove-focus:-moz-focusring {
  outline: none !important;
}

.remove-focus::-moz-focus-inner {
  border: 0 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
