body {
    @apply bg-gray-100;
    font-family: 'Roboto', sans-serif;
}

.remove-underline {
    @apply no-underline visited:no-underline hover:no-underline focus:no-underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

