@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

/* accordion */
.accordion {
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(162, 205, 176, 0.8);
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
  @apply text-slate-800;
}

.accordion-button.active {
  background-color: rgb(162, 205, 176);
}

.accordion-button:hover {
  background-color: rgba(162, 205, 176, 0.6);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
