---
import DownloadLink from './DownloadLink.astro';
---

<h2 class="mb-12 mt-12 text-center text-3xl font-semibold">Downloads</h2>
<div class="mb-10 flex w-full flex-col justify-center">
  <div class="-mx-4 flex flex-col flex-wrap justify-center gap-4 md:-mx-2 md:gap-6 lg:flex-row">
    <DownloadLink id="btn-dl-64" platform="Windows 64-bit" />
    <DownloadLink id="btn-dl-32" platform="Windows 32-bit" />
  </div>
</div>
