---
let year = new Date().getFullYear();
---
<footer class="flex w-full justify-center border-t-[1px] border-gray-200 bg-white p-4 text-gray-700">
  <p class="text-xs">
    &copy; 2023-{year} Easy MinGW Installer | Created by{' '}
    <a
      target="_blank"
      class="text-xs text-emerald-800"
      href="https://github.com/ehsan18t"
      rel="noreferrer">
      Ehsan Khan
    </a>
  </p>
</footer>
