---
type JumpButtonProps = {
  id: string;
  jumpRef: string;
  class?: string;
};

const { id, jumpRef, class: className } = Astro.props as JumpButtonProps;
---

<button id={id} class={`cursor-pointer remove-focus ${className}`}>
  <slot />
</button>

<script define:vars={{ id, jumpRef }} is:inline>
  const button = document.getElementById(id);
  button?.addEventListener("click", () => {
    document.getElementById(jumpRef)?.scrollIntoView({ behavior: "smooth" });
  });
</script>
