---
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Robot/Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://easymingw.vercel.app/" />

    <!-- Meta Info -->
    <title>Easy MinGW Installer - 2 Click MinGW Installation for 64-bit & 32-bit</title>
    <meta name="description" content="Easy MinGW Installer - 2 Click MinGW Installation for 64-bit & 32-bit. Simplify MinGW installation with just two clicks. Get both 64-bit and 32-bit support for easy development." />
    <meta
      name="keywords"
      content="Easy MinGW Installer, MinGW, mingw w64, mingw64, mingw download, mingw install, mingw c compiler, mingw compiler, gcc compiler on windows, mingw for windows, mingw w64 install exe, mingw32, mingw w64 install, mingw w64 download, mingw32 make, mingw gcc, download mingw for windows, mingw install windows, mingw c++, mingw org, mingw installation manager, mingw gcc compiler for windows, mingw c++ compiler, mingw gcc compiler download, download mingw w64, mingw64 download 2 Click Installation, ehsan, ehsan18t, ehsan khan, 64-bit, 32-bit, Development Tools, Programming, Compiler, Setup, Simplified Installation"
    />
    <meta name="author" content="Ehsan Khan (ehsan18t)" />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Easy MinGW Installer" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Easy MinGW Installer - 2 Click MinGW Installation for 64-bit & 32-bit" />
    <meta property="og:description" content="Simplify your MinGW setup with the Easy MinGW Installer. Just two clicks to install MinGW with support for both 64-bit and 32-bit architectures." />
    <meta property="og:url" content="https://easymingw.vercel.app" />
    <meta property="og:image" content="https://easymingw.vercel.app/preview.png" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Easy MinGW Installer - 2 Click MinGW Installation" />
    <meta name="twitter:description" content="Simplify MinGW installation with just two clicks. Support for both 64-bit and 32-bit architectures." />
    <meta name="twitter:site" content="@ehsan18t" />
    <meta name="twitter:image" content="https://easymingw.vercel.app/preview.png" />

    <!-- Google SEO Metadata -->
    <meta name="google-site-verification" content="0LljyKfvHJA-ff2Rc6d05iqFO975cEQBOBcbB989ipc" />
  </head>

  <body>
    <slot />
  </body>
</html>
